<div class="row">
    <div class="large-12 columns">
        <h1>Speakers and the number of talks they have given</h1>
    </div>
</div>

<div class="row">
    <div class="large-6 columns">
        <canvas id="cvs" width="450" height="400">[No canvas support]</canvas>
    </div>
    <div class="large-6 columns">
        <p>This is a thing</p>
    </div>
</div>

<script>
var speakers = <%= @speakers_count.to_s %>;
var labels = <%= raw(@speakers.to_s) %>;
var tooltips = <%= raw(@speakers.to_s) %>;
</script>