
<h1>Speakers and the number of talks they have given</h1>

<canvas id="cvs" width="450" height="400">[No canvas support]</canvas>

<script>
var speakers = <%= @speakers_count.to_s %>;
var labels = <%= raw(@speakers.to_s) %>;
var tooltips = <%= raw(@speakers.to_s) %>;
</script>